table, th, td
{ 
    border: 1px solid white;   
}

h1 , h3
{
   color:white  
    
}

.Cardapio {
    color: rgb(255, 255, 255);
    width: 100%;
    background-color: rgb(84, 38, 128);
}

.Descrição {
    background-color: blue;
    text-align-last: center
}

.fonte-titulo {
    text-align: center;font-family: 'Times New Roman', Times, serif;
}

.Descrição1{
    width: 70%;
}

.prato{
    width: 25%; 
    padding: 15px;
}

.Preço{
    width: 20%;
}

.Batata{
    color: white;width: 100%;
    background-color: rgb(124, 77, 7);
}

.bebidas{
    color: white;width: 100%;
    background-color: rgb(97, 12, 19);
}

.prato1{
    width: 25%;
}

.Letra1{
    font-style: italic;
}